@import '../variables';

.left-nav .ds-c-vertical-nav__item {
  border-top: none;
}

.left-nav .ds-c-vertical-nav__label {
  border: none;
}

.left-nav .ds-c-vertical-nav__label:visited {
  color: $qpp-primary-70;
}

.left-nav .ds-c-vertical-nav__label--current {
  border-left: 4px solid $qpp-secondary-40 !important;
  font-weight: normal;
  background: $qpp-gray-04;
  color: $qpp-primary-70;
}
