@import '../variables';

.left-nav .ds-c-vertical-nav__item {
  border-top: none;
}

.left-nav .ds-c-vertical-nav__label:visited {
  color: $qppNavy;
}

.left-nav .ds-c-vertical-nav__label {
  border: none;
}

.left-nav .ds-c-vertical-nav__label--current {
  border-left: 4px solid $qppMediumTeal !important;
  font-weight: normal;
  background: $offWhite;
  color: $qppNavy;
}
