$blue1: rgb(66, 123, 149);
$border: 1px solid $blue1;
$backgroundColor: rgb(243, 243, 243);

.tutorial-header-link {
  text-decoration: none;
  color: black;
}

tutorial-header-link:hover {
  text-decoration: underline;
}
