@import '../variables';

$border: 1px solid $qpp-primary-80;

#api-example {
  margin-top: 2em;
  margin-bottom: 2em;
  border: $border;

  div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    &:not(:last-child) {
      border-bottom: $border;
    }
  }

  .verb,
  .url {
    padding: 0.6em;
  }

  .verb {
    color: $qpp-gray-00;
  }

  .url {
    color: $qpp-primary-80;
  }

  table {
    margin: 0;
    padding: 1em;
    color: $qpp-primary-80;
    background-color: $qpp-gray-04;
    
    td {
      padding: 0.5em;
      border-color: $qpp-primary-80;
      background-color: $qpp-gray-04;
  
      &.nested-once {
        padding-left: 1em;
      }
  
      &.nested-twice {
        padding-left: 2em;
      }
  
      &:first-child {
        border-left: none;
      }
  
      &:last-child {
        border-right: none;
      }
    }

    tr {
      &:first-child td {
        border-top: none;
      }

      &:last-child td {
        border-bottom: none;
      }
    }
  }
}
