@import '../variables';

#code-tabs {
  margin-bottom: 20px;

  .tab-button {
    background-color: $qpp-gray-00;
    color: $qpp-primary-70;
    text-transform: capitalize;
    border-radius: 0;
    border: 0;
    padding: 10px 16px;

    &.selected {
      background-color: $qpp-primary-80;
      color: $qpp-gray-00;
      font-weight: 500;
    }

    &:focus {
      outline: 0;
    }
  }

  .code-section {
    background-color: $qpp-primary-80;
    color: $qpp-gray-00;
    padding: 25px;

    p {
      margin-bottom: 10px;
      font-weight: 500;
    }

    pre {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  code {
    background-color: $qpp-gray-00;
    color: $qpp-gray-100;
  }
}
