$blue: rgb(4, 80, 115);
$darkBlue: rgb(17, 46, 81);

#request-response-code-tabs {
  margin-bottom: 20px;

  button {
    background-color: white;
    color: $blue;
    text-transform: capitalize;
    border-radius: 0;
    border: 0;
    padding: 10px 16px;

    &.selected {
      background-color: $darkBlue;
      color: white;
      font-weight: 500;
    }

    &:focus {
      outline: 0;
    }
  }

  .code-section {
    background-color: $darkBlue;
    color: white;
    padding: 25px;

    p {
      margin-bottom: 10px;
      font-weight: 500;
    }

    pre {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
