{
    "plugins": [
      [
        "search-and-replace",
        {
          "rules": [
            {
              "search": "Like the previous tutorial",
              "replace": "test"
            }
          ]
        }
      ]
    ]
  }
  