{
    "plugins": [
      [
        "search-and-replace",
        {
          "rules": [
            {
              "search": "searchString",
              "searchTemplateStrings": true,
              "replace": "replacement"
            }
          ]
        }
      ]
    ]
  }