# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist

# misc
.DS_Store
.env
npm-debug.log
.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.example.json
!.vscode/tasks.example.json
!.vscode/launch.example.json
!.vscode/extensions.example.json

# Temporary - can be removed when upgraded to react-scripts@4.0.2
.eslintcache
