#
# NPM project configuration.
#
# See https://docs.npmjs.com/files/npmrc
# and https://docs.npmjs.com/misc/config
#
# Use `npm config list` to view the current configuration.
#

# Dependencies saved to package.json using --save, --save-dev or --save-optional
# will be configured with an exact version rather than using npm's default
# semver range operator.
#
# This helps protect us from unexpected changes in dependencies.
save-exact = true
