{
  "ignoreFiles": [
    "src/scss/_sprite.template.scss"
  ],
  "overrides": [
    {
      "files": [
        "./src/**/*.scss"
      ],
      "customSyntax": "postcss-scss"
    }
  ],
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "selector-class-pattern": null 
  }
}
