@media screen and (min-width: 600px) {
  .example-docs.ReactTabs {
    position: static;
  }

  .example-code-tabs .ReactTabs__TabList {
    position: static;
  }

  .example-code-tabs .ReactTabs__TabList {
    max-width: 100%;
  }
}

.example-code-tabs-examples button {
  margin-top: 0em;
}
