@media screen and (min-width: 600px) {
  .example-docs.ReactTabs {
    position: static;
  }

  .technical-details-pane .ReactTabs__TabList {
    position: static;
  }

  .technical-details-pane .ReactTabs__TabList {
    max-width: 100%;
  }
}

.technical-details-pane-examples button {
  margin-top: 0em;
}
