@import './variables';
@import 'font-awesome/css/font-awesome.min.css';
@import '@cmsgov/design-system/css/index';
@import '@cmsgov/design-system/css/core-theme';

body {
  margin: 0;
  padding-top: 85px;
  background: $qpp-gray-04;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  border-spacing: 0;
}

table td {
  border: 1px solid $qpp-gray-60;
}

table td pre {
  display: inline-block;
}

.list-style--lower-alpha {
  list-style-type: lower-alpha;
}

/* qpp-styles implements a margin-top of -25px scss/vendor/qpp-styles.css */
ul,
ol {
  margin-top: 0 !important;
}

.content-block {
  border-radius: 3px;
  border: 1px solid $qpp-gray-10;
  background: $qpp-gray-00;
}

section {
  padding: 3rem 0;
}

h1 {
  margin-top: 1em;
}

h2 a.tutorial-header-link {
  text-decoration: none;
  color: $qpp-gray-100;
}

h2:hover a.tutorial-header-link {
  text-decoration: underline;
}

.show {
  display: block;
}

.qpp-docs-page-updated {
  color: $qpp-primary-80;
  font-size: small;
  text-align: right;
  margin: 0;
}

.qpp-docs-title-container {
  background: $qpp-primary-80;
  padding-top: 30px;
  padding-bottom: 10px;
}

a.qpp-docs-title-back {
  color: $qpp-gray-00;

  &:focus {
    color: $qpp-gray-00;
    outline: 0;
  }
}

.qpp-table-text-align {
  vertical-align: top;
}

.qpp-docs-title-text {
  color: $qpp-gray-00;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Design System Overrides */
.ds-base {
  font-family: Rubik, Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.ds-text-heading--2xl,
.ds-text-heading--xl,
.ds-text-heading--lg {
  font-weight: normal;
}

a.ds-c-button:visited {
  color: $qpp-gray-00;
}

a:focus {
  background-color: transparent;
  box-shadow: none;
}

.ds-c-vertical-nav__label.ds-c-vertical-nav__label--current:visited:focus,
.ds-c-vertical-nav__label:visited:focus {
  background-color: $qpp-gray-04;
  text-decoration: none;
  color: $qpp-primary-70;
}

.ds-c-vertical-nav > .ds-c-vertical-nav__item {
  border-top: 0;
}

.ds-c-table--borderless {
  thead {
    th,
    tr {
      background-color: $qpp-gray-04;
    }
  }

  td {
    background-color: $qpp-gray-00;
  }
}

.ds-c-table td {
  padding: 16px 10px;

  &:not(:first-of-type) {
    padding-left: 12px;
  }
}

.ds-c-table td > ul {
  padding-left: 12px;
}

@media (width <= 534px) {
  .ds-c-field:focus {
    outline: none;
  }
}

@media (width >= 768px) {
  body {
    padding-top: 108px;
  }

  .ds-l-container {
    max-width: 1400px;
  }
}
