// Primary (Blue)
$qpp-primary-05: #E6F5FF;
$qpp-primary-10: #CBE4FF;
$qpp-primary-40: #009BFF;
$qpp-primary-60: #0073C8;
$qpp-primary-70: #125496;
$qpp-primary-80: #036;

// Secondary (Cyan)
$qpp-secondary-20: #BBEDE9;
$qpp-secondary-30: #91C9C4;
$qpp-secondary-40: #209FA6;
$qpp-secondary-50: #048087;

// Green
$qpp-green-05: #EFF5EB;
$qpp-green-30: #7CB342;
$qpp-green-50: #4D7E23;

//  Gold
$qpp-gold-05: #FFF9EB;
$qpp-gold-20: #FFC438;
$qpp-gold-40: #DF711C;

// Red
$qpp-red-10: #FDE7EA;
$qpp-red-50: #D92F2F;
$qpp-red-60: #AE1C1C;

// Gray
$qpp-gray-00: #FFF;
$qpp-gray-02: #FAFAFA;
$qpp-gray-04: #F7F7F7;
$qpp-gray-10: #DDD;
$qpp-gray-20: #B0B0B0;
$qpp-gray-60: #717171;
$qpp-gray-70: #515151;
$qpp-gray-80: #333;
$qpp-gray-90: #242424;

// Performance Categories
$qpp-quality-blue: #0073C8;
$qpp-quality-blue-light: #E6F4FB;
$qpp-pi-magenta: #EA5F92;
$qpp-pi-magenta-light: #FEF5F9;
$qpp-ia-gold: #FFA202;
$qpp-ia-gold-light: #FFF9EF;
$qpp-cost-green: #54A12A;
$qpp-cost-green-light: #F1F5EC;
$qpp-cp-purple: #CB63D8;
$qpp-cp-purple-light: #F5E5F7;