* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 85px;
  background: #f1f1f1;
}

@media (min-width: 768px) {
  body {
    padding-top: 108px;
  }
}

table {
  border-collapse: collapse;
  min-width: 100%;
  border-spacing: 0;
}

table td {
  border: 1px solid #5b616b;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 90%;
}

.container {
  margin: 0px auto;
  max-width: 1100px;
}

.content-block {
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background: white;
}

section {
  padding: 3rem 0;
}

h1 {
  margin-top: 1em;
}

h2 a.tutorial-header-link {
  text-decoration: none;
  color: black;
}

h2:hover a.tutorial-header-link {
  text-decoration: underline;
}

.qpp-docs-title-container {
  background: #036;
  padding-top: 30px;
  padding-bottom: 10px;
}

a.qpp-docs-title-back {
  color: #FFFFFF;
}

.qpp-docs-title-text {
  color: #FFFFFF;
}

/* Design System Overrides */
.ds-base {
  font-family: Rubik, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.ds-h1, .ds-h2, .ds-h3, .ds-h4 {
  font-weight: normal;
}

.ds-u-font-weight--semibold {
  font-weight: 500!important;
}

a.ds-c-button:visited {
  color: white;
}

.ds-c-vertical-nav>.ds-c-vertical-nav__item {
  border-top: none;
  margin-bottom: 0px;
}

.ds-c-vertical-nav a.ds-c-vertical-nav__label--current {
  /* QPP "Medium Teal" */
  border-color: #209fa6;
  font-weight: normal;
  color: inherit;
  background: #f1f1f1;
  /* QPP "Navy" */
  color: #125496;
}

.ds-c-vertical-nav a.ds-c-vertical-nav__label:visited {
  /* QPP "Navy" */
  color: #125496;
}

/* New styles*/
@media (max-width: 544px) {
  #dropdown-nav {
    display: block;
  }
  #left-nav {
    display: none;
  }
}

@media (min-width: 544px) {
  #dropdown-nav {
    display: none;
  }
  #left-nav {
    display: block;
  }
}
