* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 85px;
  background: #f1f1f1;
}

@media (min-width: 768px) {
  body {
    padding-top: 108px;
  }
}

table {
  border-collapse: collapse;
  min-width: 100%;
  border-spacing: 0;
}

table td {
  border: 1px solid #5b616b;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 90%;
}

.container {
  margin: 0px auto;
  max-width: 1100px;
}

section {
  padding: 3rem 0;
}

h1 {
  margin-top: 1em;
}

h2 a.tutorial-header-link {
  text-decoration: none;
  color: black;
}

h2:hover a.tutorial-header-link {
  text-decoration: underline;
}

.qpp-docs-title-container {
  background: #036;
  padding-top: 30px;
  padding-bottom: 10px;
}

a.qpp-docs-title-back {
  color: #FFFFFF;
}

.qpp-docs-title-text {
  color: #FFFFFF;
  font-weight: 600;
}

/*Overrides*/
.usa-sidenav-list a.usa-current {
  border-left: 4px solid #2eb1ed;
  color: #125496;
  font-weight: 500;
  background-color: #f1f1f1;
}

.usa-sidenav-list>li {
  border-top: none;
  font-size: 1em;
  background: white;
}

.usa-sidenav-list a {
  padding: 0.5rem 1.8rem 0.5rem 1.8rem;
  font-weight: 500;
}

.usa-sidenav-list a:hover {
  border-left: 4px solid #2eb1ed;
  color: #125496;
}

a.ds-c-button--primary:visited {
  color: white;
}

@media (max-width: 768px) {
  .ds-text {
    font-size: 0.8em;
  }
  .usa-sidenav-list > li {
    font-size: 0.9em;
  }
}

/* New styles*/
.inset-content {
  padding: 1.8rem;
  background: white;
}

.top-margin {
  margin-top: 30px;
}

.left-nav-label {
  display: block;
  padding-bottom: 0.4em;
}

.light-grey-border {
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.no-padding {
  padding: 0px;
}

@media (min-width: 360px) {
  #dropdown-nav {
    display: none;
  }
  #left-nav {
    display: block;
  }
}

@media (max-width: 360px) {
  #dropdown-nav {
    display: block;
  }
  #left-nav {
    display: none;
  }
  .ds-text--lead {
    font-size: 12px;
  }
  .ds-l-col--9 {
    flex: none;
    max-width: 100%;
  }
}

