* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 85px;
  background: #f1f1f1;
}

@media (min-width: 768px) {
  body {
    padding-top: 108px;
  }
}

table {
  border-collapse: collapse;
  min-width: 100%;
  border-spacing: 0;
}

table td {
  border: 1px solid #5b616b;
}

/* For some reason, qpp-styles implements a margin-top of -25px
See: node_modules/qpp-style/styles/components/_text.scss */
ul {
  margin-top: 0px!important;
}

.content-block {
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background: white;
}

section {
  padding: 3rem 0;
}

h1 {
  margin-top: 1em;
}

h2 a.tutorial-header-link {
  text-decoration: none;
  color: black;
}

h2:hover a.tutorial-header-link {
  text-decoration: underline;
}

.qpp-docs-title-container {
  background: #036;
  padding-top: 30px;
  padding-bottom: 10px;
}

a.qpp-docs-title-back {
  color: #FFFFFF;
}

.qpp-docs-title-text {
  color: #FFFFFF;
}

/* Design System Overrides */
.ds-base {
  font-family: Rubik, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.ds-h1, .ds-h2, .ds-h3, .ds-h4 {
  font-weight: normal;
}

.ds-u-font-weight--semibold {
  font-weight: 500!important;
}

a.ds-c-button:visited {
  color: white;
}

.ds-c-table td > ul {
  padding-left: 0;
}
