.ds-c-vertical-nav > .ds-c-vertical-nav__item {
  border-top: none;
}

.ds-c-vertical-nav a.ds-c-vertical-nav__label:visited {
  /* QPP "Navy" */
  color: #125496;
}

.ds-c-vertical-nav a.ds-c-vertical-nav__label {
  border: none;
}

.ds-c-vertical-nav a.ds-c-vertical-nav__label--current {
  /* QPP "Medium Teal" */
  border-left: 4px solid #209fa6;
  font-weight: normal;
  background: #f1f1f1;
  /* QPP "Navy" */
  color: #125496;
}
