@media screen and (min-width: 600px) {
  .example-code-tabs.ReactTabs {
    width: 100%;
    overflow-y: auto;
  }

  .example-code-tabs .ReactTabs__TabList {
    width: 100%;
  }

  .example-code-tabs .ReactTabs__TabList {
    max-width: 50%;
  }

  .narrow-screen-warning {
    display: none;
  }
}

.narrow-screen-warning {
  margin-top: 0;
  margin-bottom: 1em;
}

.example-code-tabs.ReactTabs {
  background-color: rgb(17, 46, 81);
}

.example-code-tabs .ReactTabs__Tab {
  display: inline-block;
  padding: 0.4em 1em 0.4em 0.6em;
  margin-bottom: 0;
  font-size: 1em;
  color: rgb(4, 80, 115);
}

.example-code-tabs .ReactTabs__Tab--selected {
  background-color: rgb(17, 46, 81);
  color: white;
}

.example-code-tabs .ReactTabs__TabList {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
}

.example-code-tabs .ReactTabs__TabPanel {
  padding: 2em;
  font-size: 0.9em;
  color: white;
}
