* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
table {
  border-collapse: collapse;
  min-width: 100%;
  border-spacing: 0;
}
table td {
  border: 1px solid #5b616b;
}

.container {
  margin: 10px;
}

section {
  padding: 3rem 0;
}

h1 {
  margin-top: 1em;
}

h2 a.tutorial-header-link {
  text-decoration: none;
  color: black;
}

h2:hover a.tutorial-header-link {
  text-decoration: underline;
}

.a-bit-wider p:last-child {
  margin-bottom: 5em;
}

.temp-nav-text {
  margin: 0 10px;
}
.temp-nav-text a {
  color: black;
  text-decoration: none;
}

.temp-grid-container {
}

.temp-grid-half {
  width: 50%;
  float: left;
}

.temp-grid-half {
  padding-right: 1em;
}
