.temp-nav a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .temp-grid-half {
    width: 50%;
    float: left;
  }
  .temp-grid-half {
    padding-right: 1em;
  }
}
