#
# This workflow will build codebase, run linting and test cases on every PR
# and push into develop and master branches.
#
name: Build - PR

on:
  push:
    branches: [ master ]

  pull_request:
    types: [ opened, synchronize, reopned ]
    branches: [ master ]

jobs:

  build:
    name: Build, Lint and Unit Test
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Codebase
        uses: actions/checkout@v2

      - name: Setup Node version
        uses: actions/setup-node@v1
        with:
          node-version: 18.16.1
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: npm ci

      - name: Run Linting & Execute Unit Tests
        run: npm test